version: "3.8"

services:
    #################### nginx ####################
    nginx:
        image: nginx:1.23.4
        container_name: nginx
        restart: unless-stopped
        tty: true
        environment:
            TZ: "Asia/Tehran"
        ports:
            - "80:80"
            - "443:443"
        depends_on:
            - delay-php
        volumes:
            - ./:/usr/share/nginx/html
            - ./.docker/nginx/nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./.docker/nginx/nginx/mime.types:/etc/nginx/mime.types
            - ./.docker/nginx/ssl:/etc/ssl
            - ./.docker/nginx/conf.d/:/etc/nginx/conf.d/
            - ./storage/logs/nginx/:/var/log/nginx/
        networks:
            main-network:
            gateway:
                aliases:
                    - delay-backend

    #################### delay-app ####################
    delay-php:
        build:
            context: ./
            dockerfile: ./.docker/Dockerfile
            args:
                WORKDIR: /usr/share/nginx/html/delay-php
        container_name: delay-php
        restart: unless-stopped
        tty: true
        expose:
            - "9000"
        environment:
            TZ: "Asia/Tehran"
            CONTAINER_ROLE: app
        volumes:
            - delay-php-vendor:/usr/share/nginx/html/delay-php/vendor
            - ./:/usr/share/nginx/html/delay-php
            - ./.docker/php/delay.ini:/usr/local/etc/php/conf.d/delay.ini
            - ./config/php/fastcgi.conf:/usr/local/etc/php/conf.d/fastcgi.conf
        networks:
            - gateway
            - delay-network

    #################### delay-db ####################
    delay-db:
        image: mariadb:10.11.2-jammy
        container_name: delay-db
        restart: unless-stopped
        tty: true
        expose:
            - "3306"
        environment:
            TZ: "Asia/Tehran"
            MARIADB_DATABASE: delay
            MARIADB_ROOT_PASSWORD: yrx2Je6lCgcyBnrUYAX4l7sux020vk1mPfN24G8K
        command:
            [
                "mysqld",
                "--default-authentication-plugin=mysql_native_password",
                "--character-set-server=utf8mb4",
                "--collation-server=utf8mb4_unicode_ci",
            ]
        volumes:
            - ./.docker/mariadb/custom.cnf:/etc/mysql/conf.d/custom.cnf
            - delay-db:/var/lib/mysql/
        networks:
            - delay-network

    #################### delay-redis ####################
    delay-redis:
        image: redis:7.0.10
        container_name: delay-redis
        restart: unless-stopped
        tty: true
        environment:
            TZ: "Asia/Tehran"
        command: ["redis-server", "--bind", "0.0.0.0", "--appendonly", "yes"]
        hostname: delay_redis
        volumes:
            - delay-redis:/data
        networks:
            - delay-network

# Networks
networks:
    main-network:
        driver: bridge
    gateway:
        driver: bridge
        external: false
    delay-network:
        driver: bridge
        external: false

# Volumes
volumes:
    delay-php-vendor:
        driver: local
    delay-db:
        driver: local
    delay-redis:
        driver: local
